@import '~slick-carousel/slick/slick';
@import '~slick-carousel/slick/slick-theme';



//fonts
@import url(https://fonts.googleapis.com/css?family=Lobster|Open+Sans);

@import 'themeColors';
$theme-font:    verdana, sans-serif;

body {
  font: $theme-font;
  background-color: $themeColor-Light;
  h1, h2 {
      color: $themeColor-Dark
  }
}