* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #333;
}
.wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: rgb(217, 230, 245);
    width: 100vw;
    min-height: 100vh;
    padding-top: 3vw;
}
.form-base {
    border-radius: 10px;
    background-color: #fff;
    width: 20vw;
    margin-bottom: 3vw;
    border: 1px solid #4f83c2;
}
.header {
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #4f83c2;
    border-radius: 5px 5px 0 0;
    padding-left: 15px;
}
.group-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: #005789;
    width: 100%;
    height: 30px;
}

#devices > div:nth-child(5){
    border-radius: 0 0 5px 5px;
}
.group-head h4 {
    font-size: .9em;
}
.group-head-3 {
    border-radius: 0 0 5px 5px;
}
.group {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.devices {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 20%;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
}
.devices:nth-child(3) {
    display: none;
}
.inner-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.devices-3 {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 20%;
    padding-top: 15px;
    padding-bottom: 15px;
}
.fa-caret-down, .fa-caret-right {
    color: #fff;
}
.device {
    display: flex;
    flex-direction: row;
    height: 35px;
    width: 100%;
    align-items: center;
    /* border: 1px solid red; */
}
input[type="checkbox"] {
    margin-right: 5px;
    cursor: pointer;
    background-color: #fff;
}
.checkbox {
    width: 10%;
    height: 30px;
    cursor: pointer;
}
.checkbox {
    background: #fff;
}
p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    font-weight: lighter;
    font-size: .8em;
}
.p_check {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 10%;
    font-weight: lighter;
    font-size: .8em;
}
.p_name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    font-weight: lighter;
    font-size: .8em;
}
h3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    font-weight: 100;
    height: 30px;
    margin: .9vw;
}
h4 {
    color: #fff;
    font-weight: lighter;
}
.carret {
    height: 10px;
    width: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 14px;
    cursor: pointer;
}
.diviceDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.device-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 90%;
    box-shadow: 0 0.2rem 0.1rem #edecec;
}
.deviceItem {
    height: 35px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 15px;
}
.protocolItem {
    height: 35px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 15px;
}
.protocol {
    height: 35px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 15px;
}
.time {
    height: 35px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 15px;
}
.periodItem {
    height: 35px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 15px;
}
.protocls-list {
    width: 90%;
    box-shadow: 0 0.2rem 0.1rem #edecec;
}
.period {
    width: 90%;
    box-shadow: 0 0.2rem 0.1rem #edecec;
}
.protocolDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.periodDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.diviceHead {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.protocolHead {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.periodHead {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.btns {
    margin: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.startBtn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #4f83c2;
    color: #fff;
}
.startBtn p {
    font-size: 1em;
    color: #fff;
}
.fa-play {
    margin-right: 10px;
    color: #fff;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    font-size: .9rem;
    border-radius: 5px;
    border: 1px solid lightgray;
    cursor: pointer;
    font-weight: 100;
}
/* ======= Media queries ======= */
@media all and (max-width: 500px) {
    * {
        overflow-x: hidden;
        width: 100vw;
    }
    .wrapper {
        flex-direction: column;
        width: 100vw;
        align-items: center;
    }
    .form-base {
        width: 90vw;
    }
    .btns {
        flex-direction: column;
    }
    .startBtn {
        width: 80vw;
    }
    input {
        width: 20px;
    }
    .checkbox {
        height: 5vw;
    }
    .radio {
        height: 5vw;
    }

    .devices, .devices-3 {
        padding-left: 10%;
    }
    h3 {
        margin-left: 5vw;
    } 
    h4 {
        margin-left: 1vw;
    } 
}



/* 


import styles from '../css/globals.css'
import { inherits } from 'util';


let templates = {};
templates.protocolTemplate = `<div class="protocol"> 
                    <div class='p_check' />
                        <input type="checkbox" />                        
                    </div>
                    <div class="p_name">{{protocol_name}}</div>
                `;
templates.timeTemplate = `<div class="protocol"> 
                    <div class='p_check' />
                        <input type="radio" />                        
                    </div>
                    <div class="p_name">{{time_name}}</div>
                `;
                
templates.summaryDevice = `<div class="deviceItem"><p>{{device_name}}</p></div>`;
templates.summaryProtocols = `<div class="protocolItem"><p>{{protocol_s_name}}</p></div>`;
templates.summaryTimes = `<div class="periodItem"><p>{{time_s_name}}</p></div>`;


(function init() {
    document.querySelector("#start").addEventListener("click", (e) => {
        createSummary();
    });

    document.querySelector("#clear").addEventListener("click", (e) => {
        clear();
    });
    
    loadData();
})();


function loadData() {
    fetch("./data/ex_data.json")
        .then(res => res.json())
        .then((data) => {
            loadBDevicesByGroup(data.device_groups);
            // appendCheckboxes(data.device_groups.devices);
            CheckboxesAppendCheckToParent(data.device_groups);
            // appendCheckboxes(data.device_groups[0].devices, data.device_groups[1].devices, data.device_groups[2].devices);
            loadProtocols(data.protocols);
            loadTimes(data.times);
            fetchIds(data.device_groups, data.protocols, data.times);
            caret3Toggle();
            appendCheckboxes();
        }
    );
}

function loadBDevicesByGroup(groups) {
    let groupHtml = document.querySelector('.group');

    groups.forEach(group => {
        let ghead = document.createElement('div');
        ghead.classList.add('group-head');

        let car = document.createElement('div');
        car.classList.add('carret');
        car.innerHTML = '<i class="fas fa-caret-down"></i>';

        let gcheck = document.createElement('input');
        gcheck.type = 'checkbox'
        gcheck.name = group.name;
        gcheck.value = group.name;

        let gname = document.createElement('h4');
        gname.innerText = group.name;

        ghead.appendChild(car);
        ghead.appendChild(gcheck);
        ghead.appendChild(gname);

        let devices = document.createElement('div');
        devices.classList.add('devices');

        group.devices.forEach(device => {
            let div = document.createElement('div');
            div.classList.add('device')

            let p = document.createElement('p')

            let checkbox = document.createElement('input')
            checkbox.type = 'checkbox'
            checkbox.classList.add('checkbox')
            checkbox.dataset.name = device.name;
            checkbox.checked = (device.active === 1) ? true : false;

            p.innerText = device.name
            div.appendChild(checkbox)
            div.appendChild(p);

            devices.appendChild(div)
        });

        groupHtml.appendChild(ghead);
        groupHtml.appendChild(devices);

    });
}

function loadProtocols(protocols) {
    let protocolsHtml = document.querySelector('#protocols');

    protocols.forEach(p => {
        protocolsHtml.innerHTML += templates.protocolTemplate.replace("{{protocol_name}}", p.name);
    });
}

function loadTimes(times) {
    let timesHtml = document.querySelector('#times');

    times.forEach(t => {
        timesHtml.innerHTML += templates.timeTemplate.replace("{{time_name}}", t.name);
    });
}

function createSummary() {
    let summary = document.querySelector("#devicesSummary");
    summary.innerHTML = '';
    let elements = document.querySelectorAll("#devices input[type='checkbox']:checked");
    console.log(elements)
    elements.forEach(elm => {
        if (elm.checked) {
            summary.innerHTML += templates.summaryDevice.replace("{{device_name}}", elm.dataset.name);
            console.log(elm.dataset)
        }
    });

    let protocolsSum = document.querySelector("#protocolsSummary");
    protocolsSum.innerHTML = '';
    let elmProtocols = document.querySelectorAll("#protocols input[type='checkbox']:checked");
    console.log(elmProtocols)

    elmProtocols.forEach(p => {
        if (p.checked) {
            protocolsSum.innerHTML += templates.summaryProtocols.replace("{{protocol_s_name}}", p.dataset.name);
        }
    });

    let timesSum = document.querySelector("#periodSummary");
    timesSum.innerHTML = '';
    let elmTimes = document.querySelectorAll("#times input[type='radio']:checked");
    console.log(elmTimes)

    elmTimes.forEach(t => {
        if (t.checked) {
            timesSum.innerHTML += templates.summaryTimes.replace("{{time_s_name}}", t.dataset.name);
        }
    });
}

function fetchIds(d, p, t) {
    console.log(d)
    console.log(p)
    console.log(t)
    d.forEach(g => {
        // console.log(d[0].devices[0].id)
    });
}


    // function check(e) {
    //     let counter = 1;
    //     let z = 2;
    //     console.log("z: ", z)
    //     console.log("counter: ", counter)
    //     let da = `#devices > div:nth-child(${counter}) > input[type="checkbox"]`;
    //     let za = `#devices > div:nth-child(${z}) input[type='checkbox']:checked`;
    //     let fa = `#devices > div:nth-child(${z}) > div`;
    //     let gfull = document.querySelectorAll(fa);
    //     let gParnetCheckbox = document.querySelector(da);
    //     let g1 =  document.querySelectorAll(za);
    //     if(g1.length === gfull.length) {gParnetCheckbox.checked = true} else {gParnetCheckbox.checked = false}
    //     counter += 2;
    //     z += 2;
    // }
  
    // for(let x = 1; x <= devices.length; x++) {
    //     let g = 2;
    //     let fa = `#devices > div:nth-child(${g}) > div`;
    //     let gfull = document.querySelectorAll(fa);
    //     gfull.forEach((g, i) => {
    //         i++; // === 1
    //         let y = 2;

    //        let mishtane = `#devices > div:nth-child(${y}) > div:nth-child(${i})`;
    //        document.querySelector(mishtane).addEventListener('change', (e, y, i) => {
            
    //         let da = `#devices > div:nth-child(${i}) > input[type="checkbox"]`;
    //         let za = `#devices > div:nth-child(${y}) input[type='checkbox']:checked`;
    //         let fa = `#devices > div:nth-child(${y}) > div`;

    //         let gParnetCheckbox = document.querySelector(da);
    //         let g1 =  document.querySelectorAll(za);

    //         if(g1.length === gfull.length) {gParnetCheckbox.checked = true} else {gParnetCheckbox.checked = false}
    //        });

    //        y += 2;
    //     });
    //     g += 2;
    // }




// function appendCheckboxes(devices1, devices2, devices3){
    function appendCheckboxes(){
        
        let gfull = document.querySelectorAll("#devices > div:nth-child(2) > div");
        let gParnetCheckbox = document.querySelector('#devices > div:nth-child(1) > input[type="checkbox"]');
    
    gfull.forEach((g, i) => {
        i++; // === 1
        let fst_grp_devices = `#devices > div:nth-child(2) > div:nth-child(${i})`;
        document.querySelector(fst_grp_devices).addEventListener('change', check);
    });
    function check(e) {
        let g1 =  document.querySelectorAll("#devices > div:nth-child(2) input[type='checkbox']:checked");
            if(g1.length === gfull.length) {gParnetCheckbox.checked = true} else {gParnetCheckbox.checked = false}
    }


    // ====== group 1 ======= //

    // let checkedItem1 = document.querySelector("#devices > div:nth-child(2) > div:nth-child(1)").addEventListener('change', (e) => {
    //     let g1 =  document.querySelectorAll("#devices > div:nth-child(2) input[type='checkbox']:checked");
    //     if(g1.length === gfull.length) {gParnetCheckbox.checked = true} else {gParnetCheckbox.checked = false}
    // });
    // let checkedItem2 = document.querySelector("#devices > div:nth-child(2) > div:nth-child(2)").addEventListener('change', (e) => {
    //     let g1 =  document.querySelectorAll("#devices > div:nth-child(2) input[type='checkbox']:checked");
    //     if(g1.length === gfull.length) {gParnetCheckbox.checked = true} else {gParnetCheckbox.checked = false}
    // });
    // let checkedItem3 = document.querySelector("#devices > div:nth-child(2) > div:nth-child(3)").addEventListener('change', (e) => {
    //     let g1 =  document.querySelectorAll("#devices > div:nth-child(2) input[type='checkbox']:checked");
    //     if(g1.length === gfull.length) {gParnetCheckbox.checked = true} else {gParnetCheckbox.checked = false}
    // });
    // let checkedItem4 = document.querySelector("#devices > div:nth-child(2) > div:nth-child(4)").addEventListener('change', (e) => {
    //     let g1 =  document.querySelectorAll("#devices > div:nth-child(2) input[type='checkbox']:checked");
    //     if(g1.length === gfull.length) {gParnetCheckbox.checked = true} else {gParnetCheckbox.checked = false}
    // });
    // let checkedItem5 = document.querySelector("#devices > div:nth-child(2) > div:nth-child(5)").addEventListener('change', (e) => {
    //     let g1 =  document.querySelectorAll("#devices > div:nth-child(2) input[type='checkbox']:checked");
    //     if(g1.length === gfull.length) {gParnetCheckbox.checked = true} else {gParnetCheckbox.checked = false}
    // });
    // let checkedItem6 = document.querySelector("#devices > div:nth-child(2) > div:nth-child(6)").addEventListener('change', (e) => {
    //     let g1 =  document.querySelectorAll("#devices > div:nth-child(2) input[type='checkbox']:checked");
    //     if(g1.length === gfull.length) {gParnetCheckbox.checked = true} else {gParnetCheckbox.checked = false}
    // });
    // let checkedItem7 = document.querySelector("#devices > div:nth-child(2) > div:nth-child(7)").addEventListener('change', (e) => {
    //     let g1 =  document.querySelectorAll("#devices > div:nth-child(2) input[type='checkbox']:checked");
    //     if(g1.length === gfull.length) {gParnetCheckbox.checked = true} else {gParnetCheckbox.checked = false}
    // });

    // // ====== group 2 ======= //


    // let gfull2 = document.querySelectorAll("#devices > div:nth-child(4) > div");
    // let gParnetCheckbox2 = document.querySelector('#devices > div:nth-child(3) > input[type="checkbox"]');

    // let checkedItem2_1 = document.querySelector("#devices > div:nth-child(4) > div:nth-child(1)").addEventListener('change', (e) => {
    //     let g2 =  document.querySelectorAll("#devices > div:nth-child(4) input[type='checkbox']:checked");
    //     if(g2.length === gfull2.length) {gParnetCheckbox2.checked = true} else {gParnetCheckbox2.checked = false}
    // });
    // let checkedItem2_2 = document.querySelector("#devices > div:nth-child(4) > div:nth-child(2)").addEventListener('change', (e) => {
    //     let g2 =  document.querySelectorAll("#devices > div:nth-child(4) input[type='checkbox']:checked");
    //     if(g2.length === gfull2.length) {gParnetCheckbox2.checked = true} else {gParnetCheckbox2.checked = false}
    // });
    // let checkedItem2_3 = document.querySelector("#devices > div:nth-child(4) > div:nth-child(3)").addEventListener('change', (e) => {
    //     let g2 =  document.querySelectorAll("#devices > div:nth-child(4) input[type='checkbox']:checked");
    //     if(g2.length === gfull2.length) {gParnetCheckbox2.checked = true} else {gParnetCheckbox2.checked = false}
    // });
    // let checkedItem2_4 = document.querySelector("#devices > div:nth-child(4) > div:nth-child(4)").addEventListener('change', (e) => {
    //     let g2 =  document.querySelectorAll("#devices > div:nth-child(4) input[type='checkbox']:checked");
    //     if(g2.length === gfull2.length) {gParnetCheckbox2.checked = true} else {gParnetCheckbox2.checked = false}
    // });
    // let checkedItem2_5 = document.querySelector("#devices > div:nth-child(4) > div:nth-child(5)").addEventListener('change', (e) => {
    //     let g2 =  document.querySelectorAll("#devices > div:nth-child(4) input[type='checkbox']:checked");
    //     if(g2.length === gfull2.length) {gParnetCheckbox2.checked = true} else {gParnetCheckbox2.checked = false}
    // });
    // let checkedItem2_6 = document.querySelector("#devices > div:nth-child(4) > div:nth-child(6)").addEventListener('change', (e) => {
    //     let g2 =  document.querySelectorAll("#devices > div:nth-child(4) input[type='checkbox']:checked");
    //     if(g2.length === gfull2.length) {gParnetCheckbox2.checked = true} else {gParnetCheckbox2.checked = false}
    // });
    // let checkedItem2_7 = document.querySelector("#devices > div:nth-child(4) > div:nth-child(7)").addEventListener('change', (e) => {
    //     let g2 =  document.querySelectorAll("#devices > div:nth-child(4) input[type='checkbox']:checked");
    //     if(g2.length === gfull2.length) {gParnetCheckbox2.checked = true} else {gParnetCheckbox2.checked = false}
    // });

    // // ====== group 3 ======= //

    // let gfull3 = document.querySelectorAll("#devices > div:nth-child(6) > div");
    // let gParnetCheckbox3 = document.querySelector('#devices > div:nth-child(5) > input[type="checkbox"]');

    // let checkedItem3_1 = document.querySelector("#devices > div:nth-child(6) > div:nth-child(1)").addEventListener('change', (e) => {
    //     let g3 =  document.querySelectorAll("#devices > div:nth-child(6) input[type='checkbox']:checked");
    //     if(g3.length === gfull3.length) {gParnetCheckbox3.checked = true} else {gParnetCheckbox3.checked = false}
    // });
    // let checkedItem3_2 = document.querySelector("#devices > div:nth-child(6) > div:nth-child(2)").addEventListener('change', (e) => {
    //     let g3 =  document.querySelectorAll("#devices > div:nth-child(6) input[type='checkbox']:checked");
    //     if(g3.length === gfull3.length) {gParnetCheckbox3.checked = true} else {gParnetCheckbox3.checked = false}
    // });
    // let checkedItem3_3 = document.querySelector("#devices > div:nth-child(6) > div:nth-child(3)").addEventListener('change', (e) => {
    //     let g3 =  document.querySelectorAll("#devices > div:nth-child(6) input[type='checkbox']:checked");
    //     if(g3.length === gfull3.length) {gParnetCheckbox3.checked = true} else {gParnetCheckbox3.checked = false}
    // });
    // let checkedItem3_4 = document.querySelector("#devices > div:nth-child(6) > div:nth-child(4)").addEventListener('change', (e) => {
    //     let g3 =  document.querySelectorAll("#devices > div:nth-child(6) input[type='checkbox']:checked");
    //     if(g3.length === gfull3.length) {gParnetCheckbox3.checked = true} else {gParnetCheckbox3.checked = false}
    // });
    // let checkedItem3_5 = document.querySelector("#devices > div:nth-child(6) > div:nth-child(5)").addEventListener('change', (e) => {
    //     let g3 =  document.querySelectorAll("#devices > div:nth-child(6) input[type='checkbox']:checked");
    //     if(g3.length === gfull3.length) {gParnetCheckbox3.checked = true} else {gParnetCheckbox3.checked = false}
    // });
    // let checkedItem3_6 = document.querySelector("#devices > div:nth-child(6) > div:nth-child(6)").addEventListener('change', (e) => {
    //     let g3 =  document.querySelectorAll("#devices > div:nth-child(6) input[type='checkbox']:checked");
    //     if(g3.length === gfull3.length) {gParnetCheckbox3.checked = true} else {gParnetCheckbox3.checked = false}
    // });
    // let checkedItem3_7 = document.querySelector("#devices > div:nth-child(6) > div:nth-child(7)").addEventListener('change', (e) => {
    //     let g3 =  document.querySelectorAll("#devices > div:nth-child(6) input[type='checkbox']:checked");
    //     if(g3.length === gfull3.length) {gParnetCheckbox3.checked = true} else {gParnetCheckbox3.checked = false}
    // });


    let ghead1 = document.querySelector('#devices > div:nth-child(1)');
    let dev1 = document.querySelector('#devices > div:nth-child(2)');
    let device11 = document.querySelector('#devices > div:nth-child(2) > div:nth-child(1)');
    let device17 = document.querySelector('#devices > div:nth-child(2) > div:nth-child(7)');
    let ghead2 = document.querySelector('#devices > div:nth-child(3)');
    let dev2 = document.querySelector('#devices > div:nth-child(4)');
    let ghead3 = document.querySelector('#devices > div:nth-child(5)');
    let dev3 = document.querySelector('#devices > div:nth-child(6)');


    appendCheckToChildren();
        // console.log(devices1)
        // console.log(devices2)
        // console.log(devices3)
}

function CheckboxesAppendCheckToParent(){
    let gParnetCheckbox = document.querySelector('#devices > div:nth-child(1) > input[type="checkbox"]');
    let g1 =  document.querySelectorAll("#devices > div:nth-child(2) input[type='checkbox']");
    gParnetCheckbox.addEventListener('change', () => {
        if(gParnetCheckbox.checked === true){
            g1.forEach(d => { d.checked = true}) } else { g1.forEach(d => {d.checked = false}) }
    })
}

function caret3Toggle() {
    let group = document.querySelector('#devices > div:nth-child(6)')
    console.log('works')
    group.style.display = 'none';
    let caret3 = document.querySelector('#devices > div:nth-child(5) > div > i');
    // console.log(caret3) 
    let carretDown = document.querySelector('#devices > div:nth-child(5) > div > i')
    carretDown.style.transform = 'rotate(-90deg)';
    const groupBar = document.querySelector('#devices > div:nth-child(5)')
        caret3.addEventListener('click', () => {
            // console.log('clicked')
            // const group = document.querySelector('.devices-3');
            // const carretDown = document.querySelector('.caret-down-3');
            if (group.style.display === 'none') {
                group.style.display = 'flex';
                group.style.transition = '400ms';
                groupBar.style.borderRadius = '0';
                carretDown.style.transform = 'rotate(0)';
                carretDown.style.transition = '300ms'
            } else {
                group.style.display = 'none';
                groupBar.style.borderRadius = '0 0 5px 5px';
                carretDown.style.transform = 'rotate(-90deg)'
                carretDown.style.transition = '300ms'
            }
        })
}

function clear(){
    let checkedInputs = document.querySelectorAll('input[type="checkbox"]:checked');
    let checkedRadioInputs = document.querySelectorAll('input[type="radio"]:checked');
    Array.from(checkedInputs).map(item => {
        item.checked = false;
    })
    Array.from(checkedRadioInputs).map(item => {
        item.checked = false;
    })
}


//     const carret3 = document.querySelector('.carret3');
// let carretg3 = document.querySelector('#devices > div:nth-child(5)')
// console.log(carretg3)


//     const clrBtn = document.querySelector('.clrBtn');
//     clrBtn.addEventListener('click', () => {
//         console.log('clrBtn works')
//     });

//     const submit = document.querySelector('.submit');
//     submit.addEventListener('click', () => {
//         console.log('submit works')
//     }); */
